@CHARSET "UTF-8";

#popupMenuContainer {
	position: absolute;
	text-align: left;
	display: none;
	top: 26px;
	right: 5px;
	width: 450px;
	min-height: 50px;
	background-color: #fff;
	z-index: 100;
	padding: 2px;
	border: 1px solid #999;
	border-top: 0 none;
	box-shadow: 0 0 3px #aaa;
}

.popupMenu {
	float: left;
	margin: 2px 5px;
	padding: 2px;
}

.popupMenu li:last-child { border-bottom: none;}
.popupMenu li {
	width:170px;
	background-color: #fff;
	opacity: 0.8;
	padding: 3px;
	margin: 1px;
}

.popupMenu li.topLevel {
	float: left;
	margin: 0 10px;
	border-right: 1px solid #ccc;
}

.popupMenu li ul {
	padding: 0;
}

.popupMenu li ul li {
	width: auto;
	background-color: #f6f6f6;
	margin-left: 5px;
	border: none;
}

.popupMenu li ul li a:before { content: '+ '; }