@CHARSET "UTF-8";

/* remove all list stylings */
.menu, .menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}

.menu li {
	display: block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	width: 90%;
	z-index: 5;
}

.menu a {
	text-decoration: none;
	padding: .4em 1em;
	display: block;
	position: relative;
}

.menu li ul li a:hover, .menu li ul li:hover>a {
	background: url(/img/arrow-east-icon.png) #fff no-repeat 2px 6px;
}

.menu ul a.menu-active-item {;
	background: #83C5F6;
}

.menu li ul li {
	border: 0 none;
	width: 100%;
}